.app-button {
  display: flex;
  padding: 15px;
  border: 1px black solid;
  border-radius: 5px;
  background: #eee;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  max-width: fit-content;
}

.disabled-button {
  display: flex;
  color: gray;
  padding: 15px;
  border: 1px black solid;
  border-radius: 5px;
  background: #eee;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  max-width: fit-content;
}

.disabled-button:hover {
  cursor: not-allowed;
}

.app-button:hover {
  background: #2b2b2b;
  color: #eee;
  cursor: pointer;
}

.reset:hover {
  background: maroon;
}

.darkgreen:hover {
  background: darkgreen;
}